*{
    box-sizing: border-box;
    max-width: 100%;
      }

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: whitesmoke;
    margin:0;
}

h1{
    font-size: 4.5em;
    font-family: 'Allura', cursive;
    color: rgb(250, 163, 7);
}

h2 {
     font-size: 2.4em;
     color: rgb(250, 163, 7);
     display: center;
}

h3{ 
    font-size: 2em;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
}

p{
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
}

ul{ 
    list-style: none;
}

li{ 
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
}
 
 button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40 px;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid rgb(0,0,0,8);
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
 }

button:hover{
    background-color: rgb(250, 163, 7);
}

.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    justify-content: center;
}

header{
    background-color: whitesmoke;
    box-shadow: 0 5px 5px rgb(182, 181, 181);
    z-index: 100;
}

header .container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
max-width: 100%;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
   }

header a {
    padding: 10px 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

header a:hover {
    color:rgb(250, 163, 7);
}

header .logo img{
    height: 50px;
    width: 100px;
    padding-bottom:0;
    }
    
    /*Hamburguesa*/

header{
    width: 100%;
    height: 13%;
    padding-left: 20px;
    background-color: whitesmoke;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 45px;
    height: 45px;
    padding: 10px;
 }

header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 1);  
}

.menu ul{
    margin:0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    }

.menu li:hover{
          opacity: 0.5;
}
.menu li a{
    display: block;
    padding: 15px 10px;
    color:black;
    text-decoration: none;
    }

/*Tablet*/
@media (max-width:768px){

header label{
    display: block;
}

header .logo img {
    display: none;
}

/*Desplegable*/
.menu {
        position: absolute;
        background: rgb(212, 147, 26);
        opacity: 0.8;
        width: 50%;
        margin-left:-50%;
        transition: all 0.7s;
        transition: height .3s linear;
}

.menu ul {
        flex-direction: column;
        text-align: center;
}

.menu li {
border: transparent;
text-align: center;
}

#btn-menu:checked ~ .container .menu {
   margin:0;
   display: none;
   text-align: center;
   
}  
.contact{
    display: flex;
    flex-direction: column;
}      
}
/*Section Hero*/

#hero {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vb;
    color: whitesmoke;
    position: relative;
    text-shadow: 3px 3px 3px black;
    width: 100%;
    max-width: 100%;
    }

    #hero:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
     z-index: -1;
      }
      
      #hero h1,
      #hero p {
        opacity: 1; 
      }

 #hero p{
    font-size: 2rem;
    color: black;
    text-shadow: 3px 3px 3px rgb(212, 147, 26);
    font-family:'Quicksand', sans-serif;
    transition: all 3s;
    font-weight: 400;
 }

/*Section Somos*/
#somos {
    padding: 50px 40px;
    
}

#somos .container{
    text-align: center;
    padding: 10px 10px;
    justify-content: center;
    }

/*Section Nuestros*/

.container__flex{
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
  flex-wrap:wrap;
  
}

#nuestros {
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
    }

.carta {
    width: 250px;
    height: 700px;
    margin: 20px;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    }

#nuestros .img{
    margin: 10px;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
    background-size:cover;
}

#nuestros .contenido{
text-align: center;
padding: auto;
}

#nuestros h2 {
    margin-top: 0;
    font-size: 3em;
    margin-top: 10px;
}

#nuestros h3 {
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.8em;
    margin: 0px;
    margin-bottom: 15px;
}

.carta:hover{
   background-color: black;
   transform: scale(1.03);
   transition: all 1s ease;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4)
}

#nuestros p{
    text-align: center;
    font-weight: bold;
    line-height: 1.4;
    padding: auto;
    }

/*Menu*/
#menu-rest {
    display: flex;
    padding: 25px 25px;
    margin: 30px 0;
    font-weight: bold;
    
}

#menu-rest h2{
    font-size: 2.4em;
    color: rgb(250, 163, 7);
    text-align: center;
}

#menu-rest h3{
    margin-top: 20px;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 3px 3px 3px black;
}

#menu-rest li{
    margin: 10px 20px;
    font-weight: bold;
}

#menu-rest ul{
    column-count: 3;
    column-gap: 50px;
    }

#menu-rest p{
        text-align: center;
        font-weight: bold;
        line-height: 1.4;
}

/*Prueba 2*/

.contact{
position: relative;
  min-height: 500px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.container-info{
     width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/*Parte2*/
.contactInfo{
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    margin-right: 2px;
    margin-left:30px;
    display: block;
    }

  .text {
    display: flex;
    flex-direction: column;
  }

  .text h3 {
    margin-bottom: 5px;
  }

  .text p {
    margin: 0;
  }

.container-info .img{
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container-info .text{
    display: flex;
    margin-left: 8px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 100;
}

.container-info h3{
    color: rgb(250, 163, 7);
    font-size: 20px;
    font-weight: 300;
}

.contactform{
    width: 70vw;
    height: calc(100% - 100px);
    max-width: 400px;
    padding: 40px;
    background-color:rgb(241, 196, 113);
    border-radius: 15px;
}

.contactform h2{
    font-size: 25px;
    color: whitesmoke;
    font-weight: 500;
    text-shadow: 3px 3px 3px black;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputbox input,
.inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 10px;
    margin: 10px 0;
    border-bottom: none;
    }

.inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 10px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #333;
    }

     .inputbox input:focus ~ span,
     .inputbox input:valid ~ span,
     .inputbox textarea:focus ~ span,
     .inputbox textarea:valid ~ span {
        font-family: 'Quicksand', sans-serif;
        font-size: 11px;
        transform: translateY(-20px);
    } 

    .inputbox input[type="submit"]{
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgb(0,0,0,8);
        color: whitesmoke;
        background-color: black;
        cursor: pointer;
    }

    .inputbox input[type="submit"]:hover{
        background-color: whitesmoke;
        color: rgb(250, 163, 7);
    }

/*Footer*/
.footer {
    position: absolute;
    height: auto;
width: 100%;
padding-top: 40px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    transition: color 0.4s ease;
}

.socials li{
    margin: 0 20px;
    margin-top: 1px;
    margin-bottom: -30px;
    border-radius: 10px;
}

.socials li:hover{
    transform: scale(1.02);
    transition: all 0.4s ease;
    box-shadow: 5px 5px 20px rgba(253, 195, 68, 0.897)}

.socials a{
    text-decoration: none;
}

.socials ul{
    font-size: 2rem;
   }

.footer-bottom{
    background: rgb(236, 233, 233);
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
}

.footer-bottom span{
    opacity: .9;
    font-weight: 300;
}

@media screen and (max-width: 480px) {
    #menu-rest ul {
      column-count: 1;
      column-gap: 0;
    }
  }
  
/*Compu*/
@media (min-width:720px) {
    header {
        position: fixed;
        width: 100%;
    }

 header .container{
    flex-direction: row;
}

header nav{
    flex-direction: row;
    padding-bottom: 10;
    padding-right: 25px;
}
/*Somos*/

#somos .container{
   justify-content: center;
   width: 100%;
   max-width: 100%;
}
/*Galeria*/
#nuestros .container{
display: column;
justify-content: center;
}  

#nuestros p{
    display: block;
}

#nuestros h3{
    margin-top: 0;
}

#nuestros .carta{
    padding: 20px;
    margin-bottom: 30px;
    flex-direction: column;
}
/*Menu*/
#menu-rest{
    text-align: initial;
}

#menu-rest ul {
    column-count: 3;
    column-gap: 0;
  }

/*Contacto*/
.contact{
    padding: 30px;
}
.container-info{
    flex-direction: column;
 }

.container-info .contactInfo{
    margin-bottom: 40px;
}
.container-info .contactInfo,
.contactform{
    width: 100%;
}

.icon{
    display: block;
}
}